<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Cethien</title>
	</head>
	<body class="dark:bg-gray-800 bg-white dark:text-white text-black">
		<main class="flex items-center justify-center gap-2 flex-col">
			<h1 class="text-2xl">Content Coming Soon</h1>
			<img
				src="https://gifdb.com/images/high/default-dance-gif-file-1273kb-rlovu8944rmxtcdh.gif"
				alt="default dance"
				class="object-cover w-64 h-64 rounded"
			/>
		</main>
	</body>
</html>
