<div
	class="p-2 text-3xl font-extrabold dark:bg-gradient-to-r dark:from-yellow-500 dark:via-cyan-500 dark:to-purple-500 dark:bg-clip-text dark:text-transparent"
>
	{{ site.Title }}
</div>
<nav
	class="flex flex-row gap-4 text-3xl child:duration-150 child:ease-in-out child-hover:scale-125"
>
	<a
		href="http://github.com/cethien/cethien.xyz"
		target="_blank"
		rel="noopener noreferrer"
		class="flex items-center"
	>
		<span class="icon-[mdi--github]"></span>
	</a>

	<button class="flex items-center" x-data @click="$store.theme.toggle()">
		<span
			class="icon-[material-symbols--dark-mode] dark:icon-[material-symbols--light-mode]"
		></span>
	</button>
</nav>
