---
import App from './_app.astro';

import ThemeToggleButton from '~/components/ThemeToggleButton.astro';
import GithubLinkButton from '~/components/GithubLinkButton.astro';

import { HEADER_TITLE } from '~/consts';

export interface Props {
	pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<style is:global>
	@tailwind base;
	@layer base {
		body {
			@apply dark:bg-gray-800 bg-white dark:text-white text-black;
		}
	}
</style>

<App {pageTitle}>
	<div>
		<header
			class="flex justify-evenly shadow-lg dark:shadow-none px-2 py-1 dark:bg-gray-900"
		>
			<a
				href="/"
				class="p-2 text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-yellow-600 via-cyan-600 to-purple-800 dark:from-yellow-400 dark:via-cyan-400 dark:to-purple-300"
			>
				{HEADER_TITLE}
			</a>
			<nav class="flex items-center gap-2">
				<GithubLinkButton />
				<ThemeToggleButton />
			</nav>
		</header>
		<main class="pt-4 px-2">
			<slot />
		</main>
	</div>
</App>

<script>
	const theme = (() => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme'))
			return localStorage.getItem('theme');

		if (window.matchMedia('(prefers-color-scheme: dark)').matches)
			return 'dark';

		return 'light';
	})();

	if (theme === 'dark') {
		document.documentElement.classList.add('dark');
	} else {
		document.documentElement.classList.remove('dark');
	}
</script>
